/* .container {
  border: 1pt solid red;
} */

a:link, a:visited {
  color: gray;
}

a:hover{
  color: green;
  text-decoration: none;
}

footer {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
}

div#nav_buttons {
  margin-bottom: 20px;
}

div#pic {
  text-align: center;
  /* border: 1pt solid red; */
}

i#insta{
  margin-right: 15px;
}

i#twit{
  margin-right: 15px;
}

i#tube{
  margin-right: 15px;
}

img {
  width: 280px;
  height: 280px;
  margin-bottom: 5px;
  border-radius: 2%;
}

.date {
  font-size: 9pt;
  font-style: italic;
  color: gray;
}

.icon_caption {
  text-align: left;
}

.logo {
  height: 80px;
  width: 450px;
}

.post_pic {
  transform: translateY(5%);
  width: 350px;
  height: 350px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  .logo {
    height: 70px;
    width: 350px;
  }

  .post_pic {
    transform: none;
    margin-bottom: 20px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {

}

/* Medium devices (tablets, less than 992px */
@media (max-width: 991px) {

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {

}
